.row.text-center
  .col-12
    a(href="/")
      img.img-fluid.mx-auto.d-block(src="/images/logo.png" href="/")
  .col-12
    a.btn.btn-outline-dark(role="button" style="border-radius: .25em 2em .25em 2em" href="/projects") 
      .row.align-items-center
        .col-4.d-flex.flex-row-reverse
          i(class="bi bi-journal-code")
        .col-8.d-flex.flex-row
          span Portfolio
  .col-12
    a.btn.btn-outline-dark(role="button" style="border-radius: 2em .25em 2em .25em" href="/projects") 
      .row.align-items-center
        .col-4.d-flex.flex-row-reverse
          i(class="bi bi-gear")
        .col-8.d-flex.flex-row
          span Projects
  .col-12
    a.btn.btn-outline-dark(role="button" style="border-radius: .25em 2em .25em 2em" href="/about") 
      .row.align-items-center
        .col-4.d-flex.flex-row-reverse
          i(class="bi bi-person-circle")
        .col-8.d-flex.flex-row
          span About
  .col-12
    a.btn.btn-outline-dark(role="button" style="border-radius: 2em .25em 2em .25em" href="/contact") 
      .row.align-items-center
        .col-4.d-flex.flex-row-reverse
          i(class="bi bi-megaphone")
        .col-8.d-flex.flex-row
          span Contact
  