.row.text-center
  .col-12
    a(href="/")
      img.img-fluid.mx-auto.d-block(src="/images/logo.png" href="/")
  .col-12
    a.btn.btn-outline-dark(role="button" style="border-radius: .25em 2em .25em 2em" href="/projects") Portfolio
  .col-12
    a.btn.btn-outline-dark(role="button" style="border-radius: 2em .25em 2em .25em" href="/projects") Projects
  .col-12
    a.btn.btn-outline-dark(role="button" style="border-radius: .25em 2em .25em 2em" href="/about") About
  .col-12
    a.btn.btn-outline-dark(role="button" style="border-radius: 2em .25em 2em .25em" href="/contact") Contact
  