extends layout

block content
  .text-center
    h1 Hello
    br
    .container
      img.img-fluid.rounded-circle.mx-auto.d-block(src="/images/profile_pic.jpg")
    br
    h2 I am glad you are here...
    p Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
