extends layout

block content
  h1= title

  form(name="login" action="/admin/login" onsubmit="return validateForm()" method="post")
    .form-floating
      input(type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" required)
      label(for="floatingInput") Username
    .form-floating
      input(type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required)
      label(for="floatingPassword") Password
    .form-floating
      button(type="submit" class="btn btn-primary mb-3") Login

  script(src="/javascripts/login.js")

  