extends layout

block content
  h1.p-3=title 
  .container-fluid
    .card-custom.mx-auto.m-4
      a(href="https://github.com/robertIanClarkson/SFSU-Connect#readme" target="_blank")
        .row.align-items-center
          .col-12.col-lg-3
            img.img-fluid.mx-auto.d-block(src="/images/profile_pic.jpg")
          .col-12.col-lg-9.p-4
            h4.title SFSU Connect
            p.body2.lh-base A buy & sell website focused on San Francisco State University students and faculty. 
              | An excellent example of working in a team environment with a mock CEO, CTO, Milestones, and Deadlines.
            .row
              .col-4 
              .col-8
                p.body1.text-muted.text-end January 1, 2019 - February 22, 2021
     
 
            