/* Fonts */
body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 96px;
}

h2 {
  font-weight: 400;
  font-size: 60px;
}

h3 {
  font-weight: 600;
  font-size: 48;
}

h4 {
  font-weight: 600;
  font-size: 34px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
}

h6 {
  font-weight: 600;
  font-size: 20px;
}

p.subtitle1 {
  font-weight: 400;
  font-size: 16px;
}

p.subtitle2 {
  font-weight: 600;
  font-size: 14px;
}

p.body1 {
  font-weight: 600;
  font-size: 16px;
}

p.body2 {
  font-weight: 400;
  font-size: 14px;
}

.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
}

p.overline {
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
}

/* NAV */
#nav {
  background: linear-gradient(to bottom, #66ffcc 0%, #ffffff 100%);
  /* display: grid;
  align-items: center; */
  /* margin-bottom: 2em; */
}

#nav img {
  width: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
}

#nav a {
  margin-top: .5em;
  width: 90%;
}

#nav i {
  font-size: 1.5em;
}

#nav span {
  padding-left: 1em;
}

@media only screen and (min-width: 768px) {
  /* sidebar */
  #nav {
    background: linear-gradient(to right, #66ffcc 0%, #ffffff 100%);
    position: fixed;
    height: 100%;
    padding-top: 3em;
  }

  #nav img {
    width: 80%;
  }

  #nav a {
    margin-top: 1em;
    width: 70%;
  }
}

/* CONTENT */
#content {
  margin-top: 3em;
  margin-bottom: 3em;
}

/* MISC */
hr {
  width: 90%;
  margin: auto;
}

br {
  margin-top: 1em;
  margin-bottom: 1em;
}